# 忽略后缀名
*.png
*.jpg
*.iml
*.xml

# 忽略通配符目录
*.idea*/
*.vscode*/
*.vs*/
*typings*/
*utils*/
*ssm*/


# 忽略指定文件
.eslintrc.js
project.config.json
project.private.config.json
sitemap.json
pom.xml
tsconfig.json
package.json

# 忽略路径