# 忽略后缀名
*.png
*.jpg
*.iml
*.xml
*.lock
vx_work/**/*.json

# 忽略通配符目录
*.idea*/
*.vscode*/
*.vs*/
*node_modules*/
*ssm*/
vx_work/**/typings
vx_work/**/utils

# 忽略指定文件
vx_work/**/.eslintrc.js

# 忽略通配符文件
app.*
package-lock.*